@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    font-size: 16px;
}

body {
    font-style: normal;
    font-family: "DM Sans", serif;
    color: black;
    background: #DFDBFD;
}

h1 {
    font-size: 2rem;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
}

.text-color-white {
    color: white;
}

.text-color-black {
    color: #122130;
}

.wrapper-main {
    margin: 30px;
    display: flex;
    flex-direction: row; /* por  defecto */
}

.wrapper-text{
    background: #5F4BF9;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.button {
    background: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
}
.wrapper-button-svg{
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    background: #DFDBFD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-text{
    margin-left: 5px;
}

.button-svg{
    width: 20px;
    height: auto;
}

.wrapper-image {
    display: none;
}

@media screen and (min-width: 480px){
    .wrapper-main {
        flex-direction: column;
    }

    .wrapper-image {
        display: block;
    }

    .image {
        border-radius: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 640px){
    .wrapper-main {
        flex-direction: row;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px){
    .wrapper-main {
        flex-direction: column;
    }

    .image {
        width: 100%;
        height: 30vh;
        /* height: 30%;
        Si el contenedor no tiene una altura explícita definida, el navegador no puede calcular el valor relativo, lo que puede hacer que el elemento ocupe toda la altura del viewport o tenga un comportamiento inesperado*/
        object-fit: cover;
    }
}